.customer-layout{
        .footer-title{
            color: #1E1E1E;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 8px;
        }
        .footer-link{
            color: #3D3D3D;
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 4px;
        }
}